.filter {
    margin-top: 20px;
    margin-bottom: 20px;

}

.filter-title {
    margin-bottom: 5px;
    margin-left: 15px;
}
.filter-body {
    margin-left: 30px; 
}
.filter-submit {
    height: 30px;
    width: 70px;
}